extends layout

block content
	.container-fluid#slider-page
		.site-header.row
			.carousel.slide#slider(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#slider', data-slide-to='0')
					li(data-target='#slider', data-slide-to='1')
					li(data-target='#slider', data-slide-to='2')

				<!-- Wrapper for slides -->
				.carousel-inner
					.item.active
						img(src='images/slider_1.jpg' alt='slider_1')
						.carousel-caption
							h3= info.slider_caption1_title
							p= info.slider_caption1
					.item
						img(src='images/slider_2.jpg' alt='slider_2')
						.carousel-caption
							h3= info.slider_caption2_title
							p= info.slider_caption2
					.item
						img(src='images/slider_3.jpg' alt='slider_3')
						.carousel-caption
							h3= info.slider_caption3_title
							p= info.slider_caption3

				<!-- Controls -->
				a.left.carousel-control(href='#slider', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				a.right.carousel-control(href='#slider', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
			.slider-title.col-xs-12
				h1.slider-h1-hide#slider-h1= info.slider_h1
				h2.slider-h2-hide#slider-h2= info.slider_h2
				h3.slider-h3-hide#slider-h3= info.slider_h3
				a.slider-a-hide.btn.btn-success#resume-button(href='/view/resume')= info.slider_download
					span.glyphicon.glyphicon-save
				a.slider-a-hide.btn.btn-default#aboutme-button(href='#about_me', data-id='about_me')= info.slider_about_me
					span.glyphicon.glyphicon-briefcase
	.container-fluid#home-page
		include index/about_me
		include index/skills
		include index/blog
		include index/photo
		include index/demo
		include index/footer