section.row.about_me#about_me
	.section-header.col-xs-12
		h1= info.about_me.title
		h2= info.about_me.subtitle
		h3.icon-header.col-xs-8.col-xs-offset-2
			span.glyphicon.glyphicon-user
	.content.col-xs-12
		aside.col-md-4.col-xs-12.myInfo
			.info-block
				h5= info.about_me.name_label
				h4= info.about_me.name
			.info-block
				h5= info.about_me.birthday_label
				h4= info.about_me.birthday
			.info-block
				h5= info.about_me.hobbies_label
				h4= info.about_me.hobbies
			.info-block
				h5= info.about_me.nationality_label
				h4= info.about_me.nationality
			.info-block
				h5= info.about_me.location_label
				h4= info.about_me.location
		article.col-md-4.col-xs-12.myPhoto
			img.img-circle(src='images/myphoto_1.jpg' width='250px' height='250px')
		aside.col-md-4.col-xs-12.education
			h1= info.about_me.edu
			.edu-info
				span.label.label-primary= info.about_me.master_time
				h4= info.about_me.master_university
				h5= info.about_me.master_degree
				h5= info.about_me.master_location
			.edu-info
				span.label.label-primary= info.about_me.bachelor_time
				h4= info.about_me.bachelor_university
				h5= info.about_me.bachelor_degree
				h5= info.about_me.bachelor_location