section.row.footer
	.note.block.col-md-3.col-xs-12
		h2= info.footer.note
		p= info.footer.note_content
		img(src='images/bootstrap_logo.png')
	.map.block.col-md-3.col-xs-12
		h2= info.footer.position
		#map-content
	.sns.block.col-md-3.col-xs-12
		h2= info.footer.sns
		a(href='https://twitter.com/Youmeng3')
			img(src='images/Twitter.png')
		a(href='http://www.linkedin.com/profile/view?id=245126227&trk=nav_responsive_tab_profile')
			img(src='images/Linkedin.png')
		a(href='http://www.weibo.com/meng1203')
			img(src='images/Weibo.png')
		a(href='https://github.com/wuxinm')
			img(src='images/Github.png')
	.contacts.block.col-md-3.col-xs-12
		h2= info.footer.contacts
		ul
			li
				span.glyphicon.glyphicon-phone
				p 1(807)621-7094
			li 
				span.glyphicon.glyphicon-envelope
				p wuxin_m@hotmail.com
			li
				span.glyphicon.glyphicon-envelope
				p yli11@lakeheadu.ca
			li
				span.glyphicon.glyphicon-map-marker
				p Thunder bay, ON, CA
	.copyright.col-xs-12
		p Copyright © 2014 Designed by Youmeng Li | Bootstrap | ExpressJS

